---
- hosts: primary_domain_controller
  roles:
    - pdg-dc-01

- hosts: replica_domain_controller
  roles:
    - pdg-dc-02

- hosts: fileserver
  roles:
    - pdg-fs-01

- hosts: pdg-msql-01
  roles:
    - pdg-msql-01
    